body {
    margin: 0;
    font-family: 'Bangers', cursive;
    color: white;
    font-weight: 100;

}

::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

/* Estilizando o polegar (thumb) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ac6003, #ffaf00);
    /* Gradiente laranja */
    border-radius: 10px;
    /* Borda arredondada */
}

/* Estilizando a pista (track) */
::-webkit-scrollbar-track {
    background: #1C1C1C;
    /* Cor de fundo da pista */
}

header {
    border-bottom: solid 3px #FF7F00;
    height: 70px;
    background-color: #1C1C1C;
}

header .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0px 10vw;
}

a {
    text-decoration: none;
    color: inherit;
}

header .conteudo .lista {
    list-style-type: none;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0#000000;
    background-image: url(../assets/images/background.png);
    background-position: center -7px;
    background-size: cover;
    width: 130px;
    text-align: center;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.3s ease;
}
header .conteudo .lista:hover {
    transform: scale(1.2);
}

header .conteudo .logo {
    display: flex;
    justify-content: center;
    list-style: none;
}

header .conteudo li img {
    width: 65%;
    margin-top: -10px;
}

/* SEÇÃO CONTEÚDO SECTION 1 */

.section1 {
    display: flex;
    align-items: center;
    height: 600px;
    background-image: url(../assets/images/banner.png);
    background-position: center center;
    background-size: cover;

    padding: 0px 10vw;
}

.section1 .bloco {
    height: 400px;
    width: 35%;
    background-color: #1C1C1C;
    border: solid 3px #FF7F00;
    border-radius: 9px;
}

.bloco .dupla-logo {
    display: flex;
    flex-direction: row;
}

.imagem,
.imagem2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

.dupla-logo .imagem img {
    width: 90%;
}

.dupla-logo .imagem2 img {
    width: 80%;
}

.section1 p {
    padding: 0px 10px;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    text-shadow:
        -3px -3px 0 #000000,
        3px -3px 0 #000000,
        -3px 3px 0 #000000,
        3px 3px 0#000000;

}

.section2 {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    padding: 20vh 10vw;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/images/bannerGokuRed.jpg);
    background-position: 0px 0px;
    background-size: cover;
    padding: 20vh 10vw;
}

.foto {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 350px;
    margin: 0px 15px;
    border-radius: 9px;
    background-image: url(../assets/images/dragonball.png);
    background-position: center center;
    background-size: cover;
}

.foto2 {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 450px;
    border-radius: 9px;
    background-image: url(../assets/images/sayajins.png);
    background-position: center center;
    background-size: cover;
}

.texto {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    flex-direction: column;
    margin-top: -100px;
    
}


.paragrafo {
    background-color: #141414;
    border-radius: 9px;
    padding: 0px 20px;
    padding-top: 5px;
    border: solid 3px #FF7F00;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 2;
    text-align: center;
}

.paragrafo7 {
    font-weight: 100;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
}


.texto h3 {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    text-align: center;
    color: white;
    font-weight: 100;
    border: solid 3px #FF7F00;
    font-size: 1.5em;
    background-color: black;
    text-shadow:
        -3px -3px 0 #000000,
        3px -3px 0 #000000,
        -3px 3px 0 #000000,
        3px 3px 0#000000;
    animation: glow 2s infinite alternate;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgb(253, 195, 2);
        /* Sombra inicial */
    }

    50% {
        box-shadow: 0 0 20px rgb(241, 145, 0);
        /* Sombra aumentando */
    }

    100% {
        box-shadow: 0 0 10px rgba(255, 238, 0, 0.7);
        /* Sombra voltando ao estado inicial */
    }
}

.texto h3 img {
    width: 15%;
    padding-right: 5px;
}

.section4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1C1C1C;
    padding: 0px 10vw;
    padding-top: 40px;
    height: 500px;
}

.titulo_secao4 {
    width: 21%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    text-align: center;
    color: white;
    font-weight: 100;
    border: solid 3px #FF7F00;
    font-size: 30px;
    background-color: black;
    text-shadow:
        -3px -3px 0 #000000,
        3px -3px 0 #000000,
        -3px 3px 0 #000000,
        3px 3px 0#000000;
    animation: glow 2s infinite alternate;
}
.titulo_secao4_2 {
    width: 13%;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgb(253, 195, 2);
        /* Sombra inicial */
    }

    50% {
        box-shadow: 0 0 20px rgb(241, 145, 0);
        /* Sombra aumentando */
    }

    100% {
        box-shadow: 0 0 10px rgba(255, 238, 0, 0.7);
        /* Sombra voltando ao estado inicial */
    }
}


.section4 .box_slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.box_slider .box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    background-image: url(../assets/images/backgroud_card.png);
    height: 270px;
    border-radius: 9px;
    width: 340px;
    border: solid 3px #FF7F00;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease; 

}
.box_slider .box1:hover,
.box_slider .box2:hover,
.box_slider .box3:hover,
.box_slider .box4:hover,
.box_slider .box5:hover,
.box_slider .box6:hover {
    transform: scale(1.1);
}

.box_slider .esquerda-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.esquerda-texto h1 {
    background: linear-gradient(to right, #FF7F00 0%, #ffaf00 100%);
    font-weight: 100;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0#000000;
    padding: 6px 15px;
    margin: 0;
    margin-top: 50px;
    border-radius: 7px;
    border: solid 2px #FF7F00;
}

.esquerda-texto p {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 2;
    font-size: 1em;
    font-weight: 100;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0#000000;
    text-align: center;
}

.box1 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 31.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.box2 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 30.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: 0px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 32.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box4 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 37.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box5 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 38.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box6 .direita-imagem {
    width: 70%;
    height: 100%;
    background-image: url(../assets/images/image\ 40.png);
    transition: background-size 1s ease-in-out, background-position 1s ease-in-out;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


dialog::backdrop {
    background-color: #141414;
    opacity: 0.7;
}

dialog {
    text-align: center;
    background-color: #1C1C1C;
    color: white;
    border-radius: 20px;
    border: solid 3px #FF7F00;
    width: 70vw;
    height: 70vh;
    padding: 0;
}

dialog .modal {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

dialog .foto-dialog {
    width: 50%;
    height: 100%;
    border-right: solid 3px #FF7F00;
    background-image: url(../assets/images/quizImage.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

dialog .mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.mensagem h1 {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
}

.mensagem p {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;
}

.botao {
    display: inline-block;
    outline: 0;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    background: linear-gradient(180deg, #ffaf00 0%, #FF7F00 100%);
    box-shadow: 0 0 10px 0 rgba(119, 33, 33, 0.7);
    padding: 0 52px;
    border-radius: 20px;
    color: #ffffff;
    height: 38px;
    font-size: 28px;
    font-family: 'Bangers', cursive;
    transition: transform 0.15s ease;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0#000000;
    margin-bottom: 20px;

}

.botao2 {
    display: inline-block;
    outline: 0;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    background: linear-gradient(180deg, #2c78e9 0%, #2950fdfd 100%);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
    padding: 0 52px;
    border-radius: 20px;
    color: #ffffff;
    height: 38px;
    font-size: 28px;
    font-family: 'Bangers', cursive;
    transition: transform 0.15s ease;
    text-shadow:
        -2px -2px 0 #000000,
        2px -2px 0 #000000,
        -2px 2px 0 #000000,
        2px 2px 0#000000;

}
.botao:hover {
    transform: scale(1.1);
}
.botao2:hover {
    transform: scale(1.1);
}

.section5, .section6, .section7, .section8, .section9 {
    display: flex;
    align-items: center;
    background-color: #1C1C1C;
    padding: 0px 10vw;
    padding-top: 130px;
    background-size: cover;
    background-position: center center;
}
.section5 {
    padding: 20vh 10vw;
}
.section6{
    padding-top: 30px;
    background-image: url(../assets/images/floresta.png);
}
.section7 {
    padding-top: 30px;
    background-image: url(../assets/images/CallToAction.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 20vh 10vw;
}
.foto3 {
    display: flex;
    justify-content: center;
    width: 650px;
    height: 350px;
    margin-left: 20px;
    border-radius: 9px;
    background-image: url(../assets/images/transformacoes.jpg);
    background-position: center center;
    background-size: cover;
}
.foto4 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 500px;
    margin-right: 210px;
    margin-left: 90px;
    border-radius: 9px;
    background-image: url(../assets/images/android17.png);
    background-position: center center;
    background-size: cover;
}
.foto5 {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 350px;
    margin-left: 20px;
    border-radius: 9px;
    background-image: url(../assets/images/Akira.png);
    background-position: center center;
    background-size: cover;
}
.foto6 {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 350px;
    margin-right: 20px;
    border-radius: 9px;
    background-image: url(../assets/images/Akira.png);
    background-position: center center;
    background-size: cover;
}

/* Seção do Quiz */

.section7 {
    display: flex;
    flex-direction: column;
}
.section7 .titulo h1 {
    font-weight: 100;
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    text-align: center;
    color: white;
    font-weight: 100;
    border: solid 3px #FF7F00;
    font-size: 30px;
    background-color: black;
    text-shadow:
        -3px -3px 0 #000000,
        3px -3px 0 #000000,
        -3px 3px 0 #000000,
        3px 3px 0#000000;
    animation: glow 2s infinite alternate;
}

.box-section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personagens {
    display: flex;
    flex-direction: row;
}
.personagens img {
    width: 350px;
    height: 500px;
}

.box-section7 .botao {
    width: 230px;
}
.section9 {
    padding-bottom: 50px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #FF7F00;
    background-color: #1C1C1C;
    width: 100%;
    height: 130px;
}

.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.box-footer img {
    width: 50px;
    padding: 0px 18px;
}
.box-footer .logo img {
    width: 180px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 3px #FF7F00;
    width: 100%;
    background-color: #FF7F00;
}
.copyright h1 {
    font-weight: 100;
    font-size: 18px;
}

/* MODAl PERSONAGENS */

.dialog-personagem {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.esquerda-dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
    padding: 0px 40px;
}

.esquerda-dialog .poder {
background-color: #1C1C1C;
border: solid 3px #FF7F00;
border-radius: 15px;
padding: 8px 75px;
}
.esquerda-dialog .poder h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    }
    .esquerda-dialog .descricao {
        background-color: #1C1C1C;
        border: solid 3px #FF7F00;
        border-radius: 15px;
        padding: 8px 15px;
        }
        .esquerda-dialog .descricao p {
            font-size: 1.2em;
            margin: 0;
            font-weight: 300;
            line-height: 1.8;
            }
        .esquerda-dialog .nome {
            background-color: #1C1C1C;
            border: solid 3px #FF7F00;
            border-radius: 15px;
            padding: 8px 75px;
            }
            .esquerda-dialog .nome h1 {
                font-weight: 300;
                font-size: 2em;
                margin: 0;
                }
                
.imagem-dialog1 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/Goku.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-dialog2 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/vegeta.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-dialog3 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/gohan.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-dialog4 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/freeza.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-dialog5 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/jiren.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-dialog6 {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/goku_black.jpeg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}